@import "../bower_components/normalize-scss/_normalize.scss";
@import "../bower_components/typeplate-starter-kit/css/_typeplate.scss";
@import "./mixins.scss";
@import "../bower_components/font-awesome/css/font-awesome.min.css";

/**
 * BOX-SIZING
 */

*, *:before, *:after {
    box-sizing: border-box;
}

/**
 * GRIDS
 */

.grid {
    width: 100%;
    display: block;
    font-size: 0;
    text-align: justify;
    position: relative;

    & > * {
        font-size: medium;
        text-align: left;
        display: inline-block;
        width: 100%;
        vertical-align: top;
    }

    &:after {
        display: inline-block;
        width: 100%;
        content: "";
        font-size: medium;
    }
}

@include gridify(2, 400);
@include gridify(4, 600);

/**
 * PACE (automatic pre-loader thingy)
 */

.pace {
    pointer-events: none;
    user-select: none;
    transition: all 1s ease;
}

.pace-inactive {
    opacity: 0;
}

.pace-active {
    opacity: 1;
}

.pace .pace-progress {
    background: #2299dd;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 2px;
    transition: all 1s ease;
}

/**
 * GENERAL
 */


body {
    transition: opacity .25s ease;
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    // font-family: 'Lobster', cursive;
}
.container {
    width: 100%;
    height: 100%;
}
.nav {
    background-color: brown;
    color: white;
    box-shadow: 0px 3px 10px #aaa;
    font-family: 'Lobster', cursive;
}
ul {
    position: relative;
    margin: 0;
    text-align: right;
    & > *:first-child {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 3em;
        transform: translateY(-25%)
    }
}
ul > * {
    display: inline-block;
    padding: .5em;
    font-size: 1.75em;
    & > * {
        list-style-type: none;
    }
}
.main {
    width: 80%;
    background-color: 570000;
    margin: 0 auto;
    box-shadow: 0px 3px 10px #aaa;
    // padding: .5em;
}
.hours,
.website,
.shop-desc {
    width: 100%;
    font-size: 1rem;
}
.shops {
    box-shadow: 0px 3px 10px #aaa;
    padding: .5em;
}
img {
    border-radius: 10px;
    animation: slideInFromLeft 1s ease;
}
.info-container {
    max-width: 100%;
    font-size: 1.75em;
    display: inline-block;
    vertical-align: top;
    padding: .5em;
    font-weight: bold;
    animation: fadeIn 1s ease;
    & > .address {
        font-size: 1rem;;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-50%);
        opacity: 0;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

