@import "../bower_components/normalize-scss/_normalize.scss";
@import "../bower_components/typeplate-starter-kit/css/_typeplate.scss";
@import "./mixins.scss";
@import "../bower_components/font-awesome/css/font-awesome.min.css";
/**
 * BOX-SIZING
 */

*, *:before, *:after {
    box-sizing: border-box;
}
/**
 * GRIDS
 */

.grid {
    width: 100%;
    display: block;
    font-size: 0;
    text-align: justify;
    position: relative;
    & > * {
        font-size: medium;
        text-align: left;
        display: inline-block;
        width: 100%;
        vertical-align: top;
    }
    &:after {
        display: inline-block;
        width: 100%;
        content: "";
        font-size: medium;
    }
}
@include gridify(2, 400);
@include gridify(4, 600);
/**
 * PACE (automatic pre-loader thingy)
 */

.pace {
    pointer-events: none;
    user-select: none;
    transition: all 1s ease;
}
.pace-inactive {
    opacity: 0;
}
.pace-active {
    opacity: 1;
}
.pace .pace-progress {
    background: #2299dd;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 2px;
    transition: all 1s ease;
}
/**
 * GENERAL
 */

* {
    border: 1px solid red;
}
body {
    transition: opacity .25s ease;
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    // font-family: 'Lobster', cursive;
}
.container {
    width: 100%;
    height: 100%;
}
.wrapper {
    background-color: #FFF7F0;
    .header {
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 1;
        a {
            color: #fff;
            text-decoration: none;
            padding: 0;
        }
        .nav {
            background-color: #8A1D0A;
            color: white;
            box-shadow: 0px 3px 10px #333;
            font-family: 'Lobster', cursive;
        }
    }
}
ul {
    position: relative;
    margin: 0;
    text-align: right;
    overflow: hidden;
    li {
        padding: 0.5em 0.25em;
    }
    & > *:first-child {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 3em;
        transform: translateY(-25%)
    }
    & > *:last-child {
        margin-right: 0.5em;
    }
}
ul > * {
    display: inline-block;
    padding: .5em;
    font-size: 1.75em;
    & > * {
        list-style-type: none;
    }
}
.fa {
    display: inline;
}
.hours {} .website {} .shop-desc {
    width: 100%;
    font-size: 1rem;
}
.shops {
    box-shadow: 0px 3px 10px #aaa;
    padding: .5em;
}
.rating {
    display: inline-block;
}
.details-box {
    .shop-details {
        width: 50%;
        display: inline-block;
    }
    .map {
        width: 50%;
        display: inline-block;
    }
}
.info-container {
    max-width: 100%;
    font-size: 1.75em;
    display: inline-block;
}
.main {
    width: 70%;
    margin: 0 auto;
    .spacer {
        width: 100%;
        height: 5.5em;
    }
    .shopCard {
        display: inline-block;
        box-shadow: 0 1px 5px #999;
        padding: 0.5em;
        background-color: #f9f9f9;
        margin: 0.25em 0;
        border-radius: 3px;
        width: 100%;
        .imgBox {
            width: 6em;
            height: 6em;
            overflow: hidden;
            float: left;
            position: relative;
            img {
                outline: 1px solid #ddd;
                animation: slideInFromLeft 1s ease;
                height: 100%;
                position: absolute;
                top: -1000px;
                bottom: -1000px;
                left: -1000px;
                right: -1000px;
                margin: auto;
            }
        }
        .shopDeets {
            margin-left: 6.5em;
            height: 6em;
            .shopInfo {
                position: relative;
                height: 100%;
                // width: 60%;
                float: left;
                a:first-child {
                    position: absolute;
                }
                .fa-coffee {
                    color: #733B15;
                }
                .empty-star {
                    color: #aaa;
                }
            }
            .shopContact {
                height: 100%;
                min-width: 10em;
                float: right;
            }
        }
        .shopSummary {
            margin-top: 0.5em;
            position: relative;
            i {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                margin-left: 0.25em;
                color: #733B15;
            }
            .summaryText {
                margin-left: 2em;
            }
        }
        .info-container {
            font-size: 1.75em;
            display: inline-block;
            vertical-align: top;
            padding: .5em;
            font-weight: bold;
            animation: fadeIn 1s ease;
            & > .address {
                font-size: 1rem;
                ;
            }
        }
    }
}
@media (min-width: 900px) {
    .main {
        .shops {
            img {
                height: 30%;
            }
            .info-container {}
        }
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-50%);
        opacity: 0;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}
